<%= form_for [@school, @comment],url: school_comment_index_path do |f| %>
  <br>
  <%= f.text_field :body,size: 70 %>
  <br>
  <%= f.submit %>
  <br>
<% end %>

<% @comments.each do |comment| %>
  <div class="comments">
    <%= comment.body %>
    <br>
    <%= comment.created_at %>
    <%= comment.user_id %>
    <%= link_to '詳細', school_comment_path(id: comment.id) %>
    <%= link_to '返信', new_school_comment_reply_path(comment_id: comment.id) %>
  </div>
<% end %>




