スラックの詳細ページ


<div class="comments">
  <%= @comment.body %>
  <%= @comment.created_at %>
  <%= @comment.user_id %>
  <%= link_to '詳細',  school_comment_path(comment_id: @comment.id)  %>
  <%= link_to '返信', new_school_comment_reply_path(comment_id: @comment.id) %>
  

</div>


<div class="replies">
  <% @replies.each do |reply| %>
  <div class="reply">
    <%= reply.body %>
    <%= reply.created_at %>
    <%= reply.user_id %>
  </div>
      <%# <%= link_to '詳細',  :controller => "comment", :action => "show", :id => @comment.id %> 
      <%# <%= link_to '返信', :controller => "replies", :action => "new", :id => @comment.id %>
  <% end %>


</div>

