replies#new

<p>You are trying to reply_to :</p>

<%= @comment.id %>
<%= @school.id %>

<%= form_for [@school, @comment, @reply],url: school_comment_replies_path do |reply| %>
   <br>
   <%= reply.text_field :body,size: 140 %>
   <br>
   <%= reply.submit %>
   <br>
<% end %>

