<h1>検索結果</h1>

<div class="search">
<h1>学校を探す</h1>
<div class="country-container">
  <% @countries.each do |country| %>
  <div class="country">
    <%= link_to :controller => "statics", :action => "result", :country_id => country.country_id do %>
    <%= country.name %>
  <% end %>
    <%= country.iso_code %>
    </div>
  <% end %>
</div>
</div>


<div class="schools-container">
  <% @schools.each do |school| %>
    <div class="school">
      <%= link_to :controller => "school", :action => "show", :id => school.id do %>
        <%= school.name %>
      <% end %>
      <%= school.country_id %>
    </div>
  <% end %>
</div>
