<h3>学校一覧</h3>










<h3>国</h3>



<div class="search">
<div class="country-container">
  <% @countries.each do |country| %>
  <div class="country">
    <li><%= link_to :controller => "statics", :action => "result", :country_id => country.id do %>
    <%= country.name %>
  <% end %>
  </li>
    </div>
  <% end %>
</div>
</div>


<div class="schools-container">
  <% @schools.each do |school| %>
    <div class="school">
      <%= link_to :controller => "school", :action => "show", :id => school.id do %>
        <%= school.name %>
      <% end %>
      <%= school.country_id %>
    </div>
  <% end %>
</div>
