profile#show




<h1>Users#show</h1>
<p>id : <%= @user.id %></p>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>user_name : <%= @user.user_name %></p>
<p>age : <%= @user.age %></p>
<p>student_type : <%= @user.student_type %></p>
<p>created_at : <%= @user.created_at %></p>
<p>updated_at : <%= @user.updated_at %></p>

