<!DOCTYPE html>
<html>
  <head>
    <title>Kgbfkh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">

  </head>

  <header>
  <%= link_to 'TOP', statics_top_path %>
  <%= link_to '学校を探す', statics_result_path %>
  <%= link_to '管理人の部屋',statics_top_path %>
  <%= link_to '問い合わせ', statics_top_path %>
  
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
  <% end %>

  <%= link_to '検索', statics_top_path %>
  <%= form_tag class: 'seartch_form', method: :get do %>
    <%= text_field :book,:isbn,size:20 %>
    <%= submit_tag '検索する' %>
  <% end %>

  </header>
  <body>
    <%= yield %>
  </body>
</html>
